# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
waste-zero-feb-team03-main/Backend/node_modules/
waste-zero-feb-team03-main/Frontend/Waste-Zero/node_modules/
node_modules/
**/node_modules/
