/* faiza shaikh */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left-section {
  flex: 1;
  background: #f8fafc;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: bold;
  margin-bottom: 20px;
}

.left-section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.left-section p {
  color: #555;
  margin-bottom: 40px;
  max-width: 500px;
}

.features {
  display: flex;
  gap: 40px;
}

.features h4 {
  margin-bottom: 5px;
}

/* RIGHT SIDE */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.auth-box {
  width: 400px;
  padding: 40px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #f1f1f1;
}

.tabs .active {
  background: white;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #2d8cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #1f6fd6;
}
